.background_container {
    background-image: url(headphones_hero_1.jpg);
    width: 1400px;
    height: 800px;
}

.logo{
    width: 161px;
    height: 32px;
    margin-top: 27.76px;
    margin-left: 200px;
}

.navigation {
    width: 255px;
    height: 15px;
    margin-top: -40px;
    margin-left: 946px;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navigation ul li {
    list-style: none;
}

.navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.08px;
}

.matter {
    display:block;
    flex-direction: column;
    justify-content: center;
    width: 637px;
    height: 313px;
    margin-top: 300px;
    margin-left: 382px;
}

.matter h1{
    width: 578px;
    height: 40px;
    margin-left: 29px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.22px;
    text-align: center;
    color: #FFFFFF;
    text-wrap: nowrap;
}

.matter h1+p {
    width: 355px;
    height: 20px;
    margin-top: 0px;
    margin-left: 141px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 10;
    line-height: 20.11px;
    text-align: center;
    color: #FFFFFF;
}

.matter button {
    width: 162px;
    height: 44px;
    margin-top: 50px;
    margin-left: 237px;
    background-color: #FF6565;
    border-radius: 22px;
    color: #FFFFFF;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.6px;
    text-align: center;
}

.special {
    width: 637px;
    height: 104px;
    margin-top: 50px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-wrap: wrap;
}

.mean {
    display: block;
    width: 637px;
    height: 184px;
    justify-content: center;
    margin-top: 100px;
    margin-left: 382px;
}

.mean h1{
    width: 190px;
    height: 40px;
    margin-left: 224px;
    text-wrap: nowrap;
}

.mean p {
    width: 637px;
    height: 104px;
    top: 80px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: black;
    text-wrap: wrap;
}

.arrange {
    width: 1200px;
    height: 193px;
    margin-top: 97px;
    margin-left:260px;
    margin-bottom: 97px ;
    gap: 40px;
}

.arrange img:hover {
    outline-color: #071629;
    transform: scale(1.2);
}

.arrange div {
    display: inline-block;
    justify-content:space-between;
}

.arrange h4 {
    width: 207px;
    height: 26px;
    top: 89px;
    justify-self: center;
    font-family: SourceSansPro;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}

.arrange p {
    width: 207px;
    height: 52px;
    margin-top: 0px;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    justify-self: center;
    text-wrap: wrap;
}

#sound {
    width: 94.2px;
    height: 65.36px;
    margin-top: 0.02px;
    margin-left: 56px;
}

#ear {
    width: 61.43px;
    height: 61.44px;
    top: -0px;
    margin-left: 74px;
}

#music {
    width: 51.66px;
    height: 57.27px;
    margin-left: 78px;
}

#video {
    width: 67.59px;
    height: 76.8px;
    margin-left: 72px;
}

.result_container{
    width: 1400px;
    height: 650px;
    background-image: url(headphones_hero_2.jpg);
}

.min {
    position: absolute;
    display: block;
    width: 637px;
    height: 184px;
    justify-content: center;
    margin-left: 382px;
}

.min h1 {
    width: 448px;
    height: 40px;
    margin-top: 141px;
    margin-left: 150px;
    text-wrap: nowrap;
    color: #FFFFFF;
}

.min p {
    width: 637px;
    height: 104px;
    top: 80px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: black;
    text-wrap: wrap;
    color: #FFFFFF;
}

.images {
    display: inline-flex;
    margin-top: 381px;
    justify-content: space-between;
    margin-left: 15%;
    gap: 60px;

}

.images img {
    width: 190px;
    height: 190px;
}

.form_container {
    width: 335px;
    height: 373px;
    margin-top: 110px;
    margin-left: 533px;
}

.form_container h1{
    width: 146px;
    height: 40px;
    margin-left: 94px;
    margin-top: 0px;
    font-family: SourceSansPro;
    font-size: 32px;
    line-height: 37.5px;
    text-align: center;
    color: #071629;
    text-wrap: nowrap;
}

.form_content{
   margin-top: 96px;
   margin-bottom: 100px;
   gap: 10px;
}

.form_box{
    width: 593px;
}

.form-group input, textarea{
    width: 335px;
    height: 29px;
    margin-bottom: 45px;
}

.form-group button{
    width: 162px;
    height: 44px;
    background-color: #FF6565;
    color: #FFFFFF;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.6px;
    text-align: center;
    width: 162px;
    margin-top: 56px;
    margin-left: 86px;
    margin-bottom: 110px;
    border-radius: 22px;
}

.form-group input::placeholder, 
.form-group textarea::placeholder {
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    text-align: left;
    color: #071629;
}